<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text logo-mini" href="/home">
      <span class="logo-image-small">
        <img ngSrc="/angular_gradient_68x68.png" width="34" height="34" alt="Angular Logo - Go back to homepage" />
      </span>
    </a>

    <button type="button" class="simple-text logo-normal" (click)="goHome()">NG a11y 🚀</button>
  </div>

  <ul class="nav">
    <li routerLinkActive="active" ariaCurrentWhenActive="page">
      <a routerLink="/home">
        <p>🏠 Home</p>
      </a>
    </li>

    <li routerLinkActive="active" ariaCurrentWhenActive="page">
      <a routerLink="/flights/flight-search">
        <p>✈️ Flights</p>
      </a>
    </li>

    <li routerLinkActive="active" ariaCurrentWhenActive="page">
      <a routerLink="/charts">
        <p>📊 Charts</p>
      </a>
    </li>
  </ul>
</div>

{{ blink() }}
