.logo-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 1rem 1rem;
  cursor: pointer;
  color: white;
  gap: 1rem;
  align-items: center;
}

.skip-link {
  position: absolute;
  top: 0.75rem;
  left: 0.875rem;
  background: #f4f3ef; // same as main content
  color: #2c2c2c; // same as main content
  outline-color: peru;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  z-index: 1000; // should be high enough ;-)
  transform: translateY(-200%);
}

.skip-link:focus {
  transform: translateY(0);
}
